/*
@package assaf
*/


@import "mixins";

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  width: auto !important;
  overflow-x: hidden !important;
  font-weight: 100;
  background-color: #fbfdff;
}

.title-color {
  color: #092588
}

a.subtitle-color {
  color: #D54C10;
  &:hover {
    text-decoration: none;
    color: #D54C10;
  }
}

.bold {
  font-weight: bold;
}

.assaf-background-color {
  background-color: #f9fafb;
}

/*
==================
HEADER
==================
*/

.header-image {
  border-bottom: 2px solid;
}


/*
==================
MENU
==================
*/
.nav-item {
  &:hover {
    background-color: #cbdae8;
    border-radius: 3px;
  }
}

/*
==================
BODY
==================
*/

.description-bloc {
background-color: #efefef;
border-radius: 3px;
}

#footer {
  background-color: #a8b7c1;
  ul li {
    list-style-type: none;
  }
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
}


@media all and  (min-width: 992px) {
  .body {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@media all and  (max-width: 992px) and  (min-width: 768px) {
  .body {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media all and  (max-width: 552) {
  .body {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}



